html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
a:is(:hover){
    color:blueviolet
}
.form-control:focus {
    
    outline: none !important;
    -webkit-box-shadow: inset 0 1px 1px white,0 0 8px white;
    box-shadow: inset 0 1px 1px white,0 0 8px white;
}
.btn-login:is(:hover){
    background-color: grey;
}
.dropdown-menu {
    margin-left: 150px;
}
.bg-icon {
    background-color: #ff8500;

}