@model BaseCourse.Dto.InsertCourseDto
@{
    ViewData["Title"] = "Create";
    var cate = new SelectList(ViewBag.LisCate, "Id", "Name");
}

<h1>Create</h1>

<h4>InsertLectureDto</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.DropDownListFor(x=>x.CategoryId,cate,"Category",new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <input type="text" value="qsid" hidden name=""/>
            <input type="radio" asp-for="Name" class="form-control" value="id"/>
            <input type="radio" asp-for="Name" class="form-control" value="id" />
            <input type="radio" asp-for="Name" class="form-control" value="id" />
            <input type="radio" asp-for="Name" class="form-control" value="id" />


            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input type="file" asp-for="File" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Requirments" class="control-label"></label>
                <input asp-for="Requirments" class="form-control" />
                <span asp-validation-for="Requirments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Target" class="control-label"></label>
                <input asp-for="Target" class="form-control" />
                <span asp-validation-for="Target" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Knowledge" class="control-label"></label>
                <input asp-for="Knowledge" class="form-control" />
                <span asp-validation-for="Knowledge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List","Index",new {id = ViewBag.SectionId})
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

